{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta author="CMWolfe">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Links Here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>

<body>
    {% block content %}
    <!-- Block area where Django templates can be injected -->
    {% endblock %}
</body>

</html>